
@font-face {
	@include font-include('ITC Avant Garde Gothic Std', 400, swap, normal, 'ITCAvantGardeStd-Bk');
}

@font-face {
	@include font-include('ITC Avant Garde Gothic Std', 500, swap, normal, 'ITCAvantGardeStd-Md');
}

@font-face {
	@include font-include('ITC Avant Garde Gothic Std', 600, swap, normal, 'ITCAvantGardeStd-Demi');
}

@font-face {
	@include font-include('Kudryashev Display', 400, swap, normal, 'KudryashevDisplay');
}

.main-title {
	font-family: var(--title-font);
	font-weight: 400;
	line-height: 125%;
	color: #FFF;

	font-size: 2.25rem; // 36px

	@include _550 {
		font-size: 2.5rem; // 40px
	}

	@include _992 {
		font-size: 3rem; // 48px
	}
}

.large-title {
	color: #FFF;
	font-family: var(--title-font);
	font-size: 3rem;
	font-weight: 400;
	line-height: 125%;

	@include _550 {
		font-size: 4rem;
	}
	
	@include _768 {
		font-size: 5rem;
	}
	
	@include _992 {
		font-size: 6rem;
	}
}

.min-title {
	font-size: 1.5rem;
	@include _550 {
		font-size: 1.5rem;
	}
	
	@include _768 {
		font-size: 1.5rem;
	}
	
	@include _992 {
		font-size: 1.5rem;
	}
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.075rem;
}

.title {
	
	font-family: var(--title-font);
	font-size: 2.25rem;
	font-weight: 400;
	line-height: 125%;

	@include _550 {
		font-size: 2.5rem;
	}
	
	@include _768 {
		font-size: 2.75rem;
	}
	
	@include _992 {
		font-size: 3rem;
	}

	mark {
		background: transparent;
		color: var(--accent);
	}
}

.section-title {

	font-family: var(--title-font);
	font-weight: 700;

}

.txt-center {
	text-align: center;
}
