.header {
	position: relative;
	left: 0; top: 0;
	width: 100%;

	//padding-right: var(--popup-padding) !important;

	//transform: translate(0, var(--pos));

	//transition: transform .2s ease;

	z-index: 3;

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;

	padding-top: 8px; padding-bottom: 8px;

	@include _992 {
		padding-top: 0; padding-bottom: 0;
		//mix-blend-mode: color-burn;
		&._sub-active &__sub-panel {
			opacity: 1; visibility: visible;
		}
	}

	background: rgba(39, 39, 44, 0.90);

	

	// .header__sub-panel

	&__sub-panel {
		position: absolute;
		left: 0; top: 100%;
		width: 100%; height: calc(120% + max(var(--height-nav-sub,0px), var(--height-contacts,0px)));
		background: rgba(39, 39, 44, 0.90);

		opacity: 0; visibility: hidden;
		transition: opacity .3s ease, visibility .3s ease, height .3s ease;
	}

	// .header__logo

	&__logo {
		
		position: relative;
		z-index: 4;
		transform: translate3d(0,0,0);

		flex: 1 1 auto;

		@include _992 {
			flex: 0 1 auto;
		}

		// .header__logo--img
		
		&--img {
			width: 100%; max-width: 85px;
			@include _992 {
				max-width: 120px;
			}
			object-fit: contain;
		}
	}

	// .header__nav

	&__nav {
		position: fixed;
		left: 0; top: 0;
		width: max(100%, 320px); height: var(--height-screen, calc(var(--svh,1vh)*100));

		background: rgba(39, 39, 44, 0.90);

		opacity: 0; visibility: hidden;

		&._mob-menu-active {
			opacity: 1; visibility: visible;
		}

		transition: opacity .3s ease, visibility .3s ease;

		@include _992 {
			position: static;
			width: auto; height: auto;
			background-color: transparent;
			padding: 0;
			overflow: visible;

			display: flex;
			justify-content: center;
			flex: 1 1 auto;

			opacity: 1; visibility: visible;
			
		}

		// .header__nav--body

		&--body {
			position: relative;
			margin: var(--height-header) 0;
			height: calc(var(--svh,1vh)*100 - var(--height-header) * 2);
			/* &::before {
				content: '';
				position: fixed;
				left: 0; top: 0;
				width: 100%; height: var(--height-header);
				background: var(--white);
				z-index: 2;
			} */

			overflow-y: auto; overflow-x: hidden;

			@include _992 {
				margin: 0;
				overflow-y: visible; overflow-x: visible;
				height: auto;
				display: flex;
				align-items: center;
				&::before {
					display: none;
				}
			}
		}

		// .header__nav--list

		&--list {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			align-items: center;

			position: relative;

			@include _992 {
				align-items: stretch;
				flex-direction: row;
				height: 100%;
			}
		}

		&--list > li {
			width: 100%;
			text-align: center;
			
			@include _992 {
				width: auto;
			}

		}

		&--list > li.hover > ul {
			opacity: 1; visibility: visible;
		}

		&--list > li.hover > a {
			text-decoration: underline;
		}

		&--list > li > ul {
			@include _992 {
				&::before {
					content: '';
					position: absolute;
					left: 0; top: 0;
					width: 100%; height: 1px;
					background: #D7DADD;
				}
				padding-top: 20px;

				position: absolute;
				left: -100px; top: 100%;
				width: calc(100% + 100px);

				opacity: 0; visibility: hidden;
				transition: opacity .3s ease, visibility .3s ease;
				grid-template-columns: auto auto auto;

				height: auto;
				overflow: visible;
			}


			width: 100%;
			height: 0; overflow: hidden;

			
			@include _container {
				padding-left: 50px;
				width: calc(100% + 40px);
				left: 0;
				&::before {
					left: 50px;
					width: calc(100% - 75px);
				}
			}

			display: grid;
			grid-template-columns: auto auto;

			padding-left: 0;

			

			> li {
				@include _992 {
					text-align: left;
				}
			}

			a {
				display: block;
				@include _992 {
					text-align: left;
				}
				font-size: 0.875rem;
				@include _container {
					font-size: 1rem;
				}

				padding: 10px 5px 10px 0;
			}
		}

		&--list a {
			color: #D7DADD;
			text-align: center;
			font-weight: 400;
			line-height: normal;

			transition: color .1s ease, border-color .2s ease;

			&:hover {
				color: var(--accent);
			}
			
			&:active {
				color: var(--accent-active);
			}
		}

		&--list > li > a {
			width: 100%;

			display: block;
			padding: 10px 15px;

			border-bottom: 1px solid transparent;

			@include _992 {
				width: auto;
				padding: 30px 15px;
			}

			@include _container {
				padding: 30px 50px;
			}

		}

		&--contacts {
			
			display: block;
			padding: 10px 50px;

			color: #D7DADD;
			text-align: center;
			font-weight: 400;
			line-height: normal;

			&:hover {
				color: var(--accent);
			}
			
			&:active {
				color: var(--accent-active);
			}
		}
	}

	// .header__contacts

	&__contacts {
		@include _992 {
			position: absolute;
			right: -12px; top: 100%;
			z-index: 2;

			padding-top: 30px;

			opacity: 0; visibility: hidden;
			transition: opacity .3s ease, visibility .3s ease;

			margin-top: 0;
		}

		margin-top: 10px;

		ul:not(.header__social) {
			display: flex;
			flex-direction: column;
		}

		ul:not(.header__social) a {
			display: block;

			color: #D7DADD;
			text-align: center;
			font-weight: 400;
			line-height: normal;

			&[href*="mailto"] {
				text-decoration: underline;
			}

			&:hover {
				color: var(--accent);
			}
			
			&:active {
				color: var(--accent-active);
			}	
		}

		> ul > li:not(:first-child) {
			margin-top: 21px;
		}
	}

	&._sub-active &__contacts {
		opacity: 1; visibility: visible;
	}

	// .header__social

	&__social {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		@include _992 {
			justify-content: stretch;
		}

		margin: -10px;

		a {
			display: block;
			fill: #D7DADD;
			padding: 10px;
			&:hover {
				fill: var(--accent);
			}
			
			&:active {
				fill: var(--accent-active);
			}

			svg {
				transition: fill .2s ease;
			}
		}
	}

	&__tel {
		position: relative;
		z-index: 4;

		display: inline-flex;
		margin-right: 19px;
		@include _992 {
			margin-right: 30px;
			padding: 5px 10px;
		}
		padding: 15px 10px;
		fill: #BABCC0;
		&:hover {
			fill: var(--accent);
		}
		
		&:active {
			fill: var(--accent-active);
		}

		svg {
			transition: fill .2s ease;
		}
	}
	// .header__burger

	&__burger {
		position: relative;
	
		width: 20px; height: 15px;
		&::before {
			content: '';
			position: absolute;
			left: 50%; top: 50%;
			width: 150%; height: 150%;
			transform: translate(-50%,-50%);
		}
	
		background: transparent;
	
		z-index: 4;
	
		cursor: pointer;
	
		display: block;
		@include _992 {
			display: none;
		}
	
		& span {
			position: absolute;
			left: 0;
	
			width: 100%; height: 2px;
			background: var(--light-gray);
			border-radius: 5px;
			
			transition-duration: .3s;
			transition-timing-function: ease;
			transition-property: transform, top, opacity, visibility, width;
	
			&:nth-child(1) {
				top: 0%;
				transform: translate3d(0,0,0);
			}

			&:nth-child(2) {
				top: 50%;
				transform: translate3d(0, -50%, 0);
				opacity: 1; visibility: visible;
			}

			&:nth-child(3) {
				top: 100%; width: 80%;
				transform: translate3d(0, -100%, 0);
			}
		}

		&._mob-menu-active span {
			&:nth-child(1) {
				top: 50%;
				transform: translate3d(0, -50%, 0) rotate(45deg);
			}

			&:nth-child(3) {
				opacity: 0; visibility: hidden;
			}

			&:nth-child(2) {
				top: 50%; //width: 100%;
				transform: translate3d(0, -50%, 0) rotate(-45deg);
			}
	
		}
	}
}
